.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  
}

.content {
  background-color:rgb(15, 195, 205);
  padding: 0px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}